.button {
  @extend h6;
  position: relative;
  display: inline-block;
  padding: 0 30px;
  line-height: 40px;
  color: #fff;
  background: #7dd9b3;
  border-radius: 4px;
  box-shadow: 0 2px 0 #82b6a0;

  &:hover {
    text-decoration: none;
    color: #fff;
    background: darken(#7dd9b3, 10%);
  }
  &:active {
    top: 2px;
    box-shadow: none;
  }
}

p + .button {
  margin-top: 50px;
}
