$section-padding: 100px;
$bg-section-height: 600px;

.section {
  @extend %bs-border-box;
  @extend %bs-cover;
  padding: $section-padding 0;

  &.light {
    background: #f8f8f8;
  }

  &.title-container {
    height: 140px;
    text-align: center;
    padding: 60px 0 0 0;
  }

  &.timeline-title-container {
    height: 160px;
    text-align: center;
    padding: 80px 0 0 0;
  }

  &.table-container{
    padding: 30px 0 0 0;
  }

  &.last-table-container{
    padding: 30px 0 60px 0;
  }

  &.banner {
    height: 460px;
    background-image: url('../img/banner.png');
  }

  &.academic-work,
  &.t3d-design,
  &.ui-design {
    height: $bg-section-height;
  }

  &.ui-design {
    background-image: url('../img/ui-design.png');
  }

  &.t3d-design {
    background-image: url('../img/3d-design.png');
  }

  &.academic-work {
    background-image: url('../img/academic-work.png');
  }


}

$tile-angle: 150px;
$tile-offset: 10px;
$tile-background: #f8f8f8;

.section-tile{
  padding: {
    left: 40px;
    right: 25px;
  }
}

.section-tilt-tile {
  position: relative;
  width: 430px;
  height: $bg-section-height + $tile-offset*2;
  margin: {
    top: -$section-padding - $tile-offset;
    bottom: -$section-padding - $tile-offset;
    left: 15px;
  }
  padding: {
    top: $section-padding + $tile-offset;
    bottom: $section-padding + $tile-offset;
    left: 25px;
    right: 25px;

  }
  background: $tile-background;
  transition: margin 0.5s ease;
  -webkit-transform: translateZ(0);

  &:before {
    position: absolute;
    top: 0;
    left: -$tile-angle;
    width: 0;
    height: 0;
    border-bottom: $bg-section-height + $tile-offset*2 solid transparent;
    border-right: $tile-angle solid $tile-background;
    content: "";
  }

  &:after {
    position: absolute;
    top: 0;
    right: -$tile-angle;
    width: 0;
    height: 0;
    border-top: $bg-section-height + $tile-offset*2 solid transparent;
    border-left: $tile-angle solid $tile-background;
    content: "";
  }

  &:hover {
   /* @extend .col-offset3;*/
  }

  &.reversed {

    &:before {
      border-top: $bg-section-height + $tile-offset*2 solid transparent;
      border-bottom: none;
    }

    &:after {
      border-top: none;
      border-bottom: $bg-section-height + $tile-offset*2 solid transparent;
    }
  }
}
