$section-padding: 100px;
$bg-section-height: 590px;

.section {
  @extend %bs-border-box;
  @extend %bs-cover;
  padding: $section-padding 0;

  &.title-container {
    height: 140px;
    line-height: 140px;
    text-align: center;
  }

  &.banner {
    height: 460px;
    background-image: url('../img/banner.png');
  }

  &.ui-design {
    height: $bg-section-height;
    background-image: url('../img/ui-design.png');
    border: {
      top: 1px solid $border-color;
      bottom: 1px solid $border-color;
    }
  }
}

$tile-angle: 60px;
$tile-offset: 10px;
$tile-background: #efefef;

.section-tile {
  position: relative;
  width: 400px;
  height: $bg-section-height + $tile-offset*2;
  margin: {
    top: -$section-padding - $tile-offset;
    bottom: -$section-padding - $tile-offset;
  }
  padding: {
    top: $section-padding + $tile-offset;
    bottom: $section-padding + $tile-offset;
  }
  background: $tile-background;
  transition: margin 0.5s ease;
  -webkit-transform: translateZ(0);

  &:before {
    position: absolute;
    top: 0;
    left: -$tile-angle;
    width: 0;
    height: 0;
    border-bottom: $bg-section-height + $tile-offset*2 solid transparent;
    border-right: $tile-angle solid $tile-background;
    content: "";
  }

  &:after {
    position: absolute;
    top: 0;
    right: -$tile-angle;
    width: 0;
    height: 0;
    border-top: $bg-section-height + $tile-offset*2 solid transparent;
    border-left: $tile-angle solid $tile-background;
    content: "";
  }

  &:hover {
    @extend .col-offset3;
  }
}
