.tags > span,
.tag {
  @extend h5;
  display: inline-block;
  margin-right: 5px;
  background: #e1e1e1;
  border-radius: 10px;
  line-height: 30px;
  padding: 0 10px;
  color: #9d9d9d;
}

.tags {
  margin-bottom: 20px;
}
