$base-color: #818181;
$base-font-size: 18px;
$base-font-family: "Roboto", Arial, Helvetica, sans-serif;

$link-color: #1b8dba;
$link-color-hover: shade($link-color, 20%);

$border-color: #dedede;
$error-color: #da0011;

$font-family-1: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;

$base-background-color: #efefef;
$base-alpha-color: rgba(#fff, 0.4);
